<div class = "container sign-in-page-container">
	<div class="left group">
	  <div class="social">
	    <h4>For Shoppers</h4>
	    <a id="facebook" href="/auth/facebook"><img src="http://i.imgur.com/UIbkQV6.png"></a>
	    <br><br><br>
	  </div>
	</div>

	<div class="right group">
	  <br><br><br>
	  <div class="social">
	    <h4>Are you a merchant? <%= link_to "Sign In Here", new_customersession_url %></h4>
	  </div>
	</div>
</div>