<div class = "form-signin">
	
	<h4>For Shoppers</h4>
	<a id="facebook" href="/auth/facebook">
		<%= image_tag "WGSlice/facebook-login-button.png", size:"250x50"%>
	</a>
	<br><br><br>



	<h4>Are you a registered merchant? </h4>
	<h4><%= link_to "Sign In Here", new_customersession_url %></h4>
	 
</div>