
<div class="form-signin">
    <h4>For Shopper</h4>
    <a id="facebook" href="/auth/facebook">
    	<%= image_tag "WGSlice/facebook-login-button.png", size:"250x50"%>
    </a>

    <br><br><br>
    
    <h4>Are you a merchant? <%= link_to "Sign Up Here", new_customer_url %></h4>

</div>