<div class="left group">
  <div class="social">
    <h4>For Shopper</h4>
    <a id="facebook" href="/auth/facebook"><img src="http://i.imgur.com/UIbkQV6.png"></a>
  </div>
</div>

<div class="right group">
	<br><br><br>
  <div>
    <h4>Are you a merchant? <%= link_to "Sign Up Here", new_customer_url %></h4>
  </div>
  <%#= render "form", :user => @user %>
</div>