
  <% if current_user == @user %>
    <div class="feed-container">
      <%= render "reviews/user_feed", :user => @user %>
    </div>
  <% else %>
    <div class="profile-container">
      <%= render "reviews/user_profile", :user => @user %>
    </div>
  <% end %>

</div>

<script>
  // FOLLOWS
  $('.follow-button').on('ajax:send', function(event){
    $('.foll').toggleClass('is-followed');
  });

  $('.unfollow-button').on('ajax:send', function(event){
    $('.foll').toggleClass('is-followed');
  });
</script>