<div class="prof-content group">

  
  <div class="prof-mid group">
    <%= render "reviews/user", :user => @user %>
  </div>

</div>

<script>
  // FOLLOWS
  $('.follow-button').on('ajax:send', function(event){
    $('.foll').toggleClass('is-followed');
  });

  $('.unfollow-button').on('ajax:send', function(event){
    $('.foll').toggleClass('is-followed');
  });
</script>