
<div id="wrap">

<div class = "container guideline">
	<div class="guideline-header">
						People love good stories and this will never change

		<div class="guideline-header-prolog">
			“After nourishment, shelter and companionship, stories are the thing we need most in the world.” ― Philip Pullman
		</div>
	</div>

	
	<div class="guideline-content">
		<div class="guideline-content-header">
			Story Guidelines

		</div>

		
		<ul>
			<li>
				<div class="guideline-content-header-1">
					Think about the audience

					<div class="guideline-content-header-1-prolog">
						Buatlah cerita Anda menarik dan informatif
					</div>
				</div>
				

			</li>


		<div class="guideline-content-1">
			Pembaca cerita Anda adalah orang yang sedang mencari informasi dimana sebaiknya mereka melakukan kegiatan jual-beli secara online. Oleh karena itu, buatlah cerita Anda se-informatif mungkin sehingga mempermudah pembaca untuk menentukan pilihan atau sekedar mendapatkan informasi yang berguna. Ceritakan tentang tampilan website (bagus atau tidak), barang yang diperjual-belikan, lokasi transaksi, customer service, etc. The more details, the better.
		</div>

			<li>
				<div class="guideline-content-header-2">
					You are the main character of the story
					<div class="guideline-content-header-2-prolog">
						Ekspresikan dirimu
					</div>
				</div>
			</li>

		<div class="guideline-content-2">
			Andalah karakter utama dalam cerita. Pastikan cerita Anda sesuai dengan kepribadian Anda. Apabila Anda kritis, make sure you're critical in your story. Apabila Anda orangnya lucu, pastikan ada bumbu-bumbu yang membikin orang tersenyum membacanya.
		</div>

			<li>
				<div class="guideline-content-header-3">
					There's a message behind every story
					<div class="guideline-content-header-3-prolog">
						Mempunyai inti cerita
					</div>
				</div>
			</li>
		
		<div class="guideline-content-3">
			Pastikan audience mendapatkan pesan yang Anda sampaikan. Pesan dapat berupa kekaguman Anda terhadap website dari sebuah online merchant, kemudahan refund policy, customer service yang top, atau sekedar mengutarakan kekurangan dari online merchant yang bisa diperbaiki di kemudian hari.
		</div>
	</ul>

		<div class="guideline-thankyou">
			Thank You
			<div class="guideline-thankyou-prolog">
				Let's start sharing our online shopping stories
			</div>
		</div>


		
	</div>


</div>

<%= render "layouts/footer"%>
</div>