<div class = "content-container about">
	<div class="about-header">
		Let's build an awesome community!
		<div class="about-header-prolog">
			Mari kita bangun sebuah komunitas yang peduli akan kepuasan pelanggan dalam berjual-beli di Internet
		</div>
	</div>

	
	<div class="about-content">
		<div class="about-content-header">
			Shared Values - Because every community has something in common

			<div class="about-content-header-prolog">
				
			</div>
		</div>

		
		<ol>
			<li>
				<div class="about-content-header-1">
					Peduli akan kepuasan dan kenyamanan bertransaksi online
				</div>
			</li>


		<div class="about-content-1">
			
			Kita tahu bahwa e-commerce di Indonesia sudah merambah ke berbagai kalangan. Keadaan ini akan terus berkembang. Banyak dari kita yang sudah mencoba untuk membeli atau menjual barang melalui media online. Sebagian dari kita merasa nyaman dengan hal tersebut, sebagian tidak.

			Bagi yang merasa nyaman, maka dia akan menceritakan ke teman-teman dekat nya, keluarganya, atau kolega kantornya betapa mudah dan nyamannya melakukan transaksi melalui media online. Dan bagi yang merasa kurang puas, maka akan dilakukan hal yang sama, walaupun akan berbeda dari pesan yang disampaikan.

			Dengan adanya WarmGreet, kami berharap bahwa kita dapat mengumpulkan informasi tentang hal ini. Mana toko online yang terpercaya, mana yang tidak. Mana yang baik customer service nya, mana yang terkesan tidak peduli akan kepuasan pelanggan. Dan seterusnya.

			Dengan ini, kita berharap bahwa ekosistem e-commerce di Indonesia akan lebih baik. Because in the end, customer satisfaction is everything.

		</div>

			<li>
				<div class="about-content-header-2">
					Peduli akan kebenaran dan kredibilitas dari informasi yang disampaikan
				</div>
			</li>

		<div class="about-content-2">
			Di WarmGreet, mari kita berusaha agar setiap cerita yang disampaikan adalah cerita yang jujur. Honest story brings goodness to everyone! Apabila Anda mendapatkan sebuah kepuasan dari jual-beli online dari sebuah website tertentu, maka ekspresikan kepuasanmu. Dengan itu, Anda akan membantu orang lain dalam menentukan pilihan dalam berjual-beli secara online.
			Apabila Anda kecewa, maka ceritakan seadanya dengan itikad baik agar si online merchant dapat meningkatkan mutu nya. Anda juga akan membantu orang lain agar tidak mendapat kekecewaan dari online merchant tersebut. 
		</div>

			<li>
				<div class="about-content-header-3">
					Selalu mengedepakan itikad baik
				</div>
			</li>
		
		<div class="about-content-3">
			Hal ini perlu kami tekankan. Karena sekarang, semua orang dapat berbicara apa saja. Setiap cerita yang disampaikan harus didasari niat untuk mengekspresikan kepuasan atau kekecewaan kita atas apa yang benar-benar terjadi.
			<br>
			<strong>No blackcampaign is allowed whatsoever.</strong>
		</div>
	</ol>

		<div class="about-thankyou">
			Thank You
			<div class="about-thankyou-prolog">
				Let's start sharing our online shopping stories
			</div>
		</div>
	</div>
</div>
