// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about{
  font-family:"Bariol";
}

.about-header{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.about-header-prolog{
	font-size:0.750em;
}

.about-content{
	text-align:justify;
}

.about-content-header{
	font-size:1.750em;
	font-weight:bold;
}

.about-content-header-prolog{
	font-size:1em;
}

.about-content-header-1, 
.about-content-header-2, 
.about-content-header-3{
	font-size:1.250em;
	font-weight:bold;
}

.about-content-1,
.about-content-2,
.about-content-3{
	font-size:1em;
}

.about-thankyou{
	text-align: center;
	font-family:"Bariol";
	font-size:2em;
	font-weight: bold;
}

.about-thankyou-prolog{
	font-size:1.250em;
}
