@import "bootstrap";
@import "about";
@import "guideline";


@font-face
{
  font-family: "Bariol";
  src: url("BARIOL_REGULAR.OTF");
}

@font-face
{
  font-family: "Novecento";
  src: url("NOVECENTOWIDE-MEDIUM.OTF");
}

@font-face
{
  font-family: "Helvetica Thin";
  src: url("HELVETICANEUELTSTD-TH.OTF");
}

@font-face
{
  font-family: "Helvetica Neue";
  src: url("HELVETICANEUE.TTF");
}

html,body{
  overflow-x:hidden;
}

.nav{
  font-family:"Bariol";
  font-size: 1.125em;
}

hr{
  border-color: #ffea47;
  opacity: 0.4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #090909;
  color: #ffea47;
}

.navbar-form .form-control {
  font-family:"Bariol";
}

.navbar-brand{
  padding-top:2px;
  margin-top:-2px;
}

.navbar-brand img{
  opacity:0.5;
}

.navbar-brand img:hover{
  opacity:1;
}

.navbar-inverse{
  //background-color: rgb(230,180,71);
  opacity: 0.97;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  opacity:1;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffea47;
  opacity:1;
}

.btn{
  font-family:"Bariol";
}

.btn-wg{
  color:black;
  font-style: bold;
  font-family:"Bariol";
  background-color: rgb(255,234,71);
}


.btn-wg:hover{
  color:black;
  font-style: bold;
  font-family:"Bariol";
  background-color: rgb(255,234,71);
  opacity:0.5;
}

.list-inline li{
  margin-top:5px;
}

.jumbotron{
  background-color: rgb(245,230,71);
}

@media all and (min-device-width : 601px) {
  .bg-home{
    margin-top:-100px;
    background: url("/assets/WGSlice/Banner_1440.jpg") no-repeat center center; 
     -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .bg-feed{
    height:500px;
    background: url("/assets/WGSlice/banner-feed.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
         
}

@media all and (max-device-width : 600px) {
  .bg-home{
    margin-top:-100px;
    background: #ffffff; 
     -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .bg-feed{
    height:500px;
    background: #ffffff; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
         
}



.offer-img{
  width:100%;
}

.offer-text{
  text-align:justify;
}

#footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}


/*
Header with the big image
*/
.top-nav{
  position: relative;
  overflow: hidden;
  height: 750px;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/Banner_1440.jpg"); 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.search-bar{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

.search-bar-home-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 490px;
  font-family:"Bariol";
}

.search-bar-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 540px;
  font-family:"Bariol";
}

.search-bar-no-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

a .white ul:hover{
  opacity:0;
}

.search-bar-no-home{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

.community-home-no-sign-in{
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 220px;
  top: 22px;
}

.community-home-sign-in{
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 276px;
  top: 22px;
}




.top-nav-no-index{
  position: relative;
}

.top-nav-electronics{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-category-tech.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.top-nav-fashion{
  position: relative;
  width: 100%;
  height: 750px;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-category-fashion.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}


.top-nav-stories-feed{
  position: relative;
  width: 100%;
  height:750px;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-feed.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.attribute-container{
  display: block;
  margin-left: 115px;
  margin-top: -65px;
}

.attribute-container-profile{
  display: block;
  margin-left: 140px;
  margin-top: -145px;
}


.attribute-container-public{
  display: block;
  margin-left: 115px;
  margin-top: -90px;
}

.attribute-container-merchant-show{
  display: block;
  margin-left: 154px;
  margin-top: -270px;
}



/*
Main logo, but not in the nav header. "Online story, honestly shared"
*/
.WG-mainlogo {
  margin-top: 150px;
}

.version-logo{
  position: absolute;
  left: 8%;
  width: 40%;
  top: 10%;
}

/*
HEader: write a story, category, etc
*/
.top-nav-header
{
  background-color: rgb(35,31,32);
  opacity: 0.75;
  /*border-bottom: 1px solid black;*/
  height: 68px;
}

/*
random story showed in top-nav
*/

.random-story-container{
  margin-left:15px;
}

.review-body-container{
}

.review-body-content{
  margin-left: 5px;
}

.random-story{
  display: inline-block;
  margin-left:25px;
  color: white;
  font-family: "Bariol";
}

.story-img{
  width:100%;
}


.random-story-img{
  display:inline-block;
}

.random-story-text{
  text-align:left;
}

.random-story-merchant{
  color:white;
  opacity:0.5;
}

.random-story-merchant:hover{
  color:white;
  opacity:1;
}


.random-story-title{
  
  font-family: "Bariol";
  font-size: 1.750em;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.random-story-body{
  
  font-family:"Bariol";
  font-size: 1.125em;
}

.random-story-see-more{
  font-family: "Bariol";
  font-size: 1.125em;
}
/*
*/

.content-main-header-root{
  position: relative;
  top: -10px;
}

.starter-template {

}

.content-container{
  padding-top: 90px;
  text-align: center;
}

.profile-public-container{
  padding-top:90px;
  text-align:center;
}

.feed-container{
  padding-top: 20px;
  text-align: left;
}

.merchant-container{
  padding-top: 115px;
  text-align: left;
}



.profile-container{
  margin-top: 90px;
}

.logo {
  float: left;
  left:1.5%;
  margin-top: 4px;
  padding: 0 35px
}

.write_story-home {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 35px;
  top: 22px;
}


.write_story {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 130px;
  top: 22px;
}


.category {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 275px;
  top: 22px;
}

.community{
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 367px;
  top: 22px;
}

.category-dropdown{
  position:absolute;
  left:-15px;
  margin-top:45px;
}
.category-home {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 181px;
  top: 22px;
}

.category-home-no-sign-in {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 3%;
  top: 22px;
}



.find_friends {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 337px;
  top: 13px;
}


.find_friends-home {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 253px;
  top: 13px;
}


.find_friends-no-sign-in-home {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 137px;
  top: 13px;
}


.info {
  list-style: none;
  font-size: 1em;
  font-family: "Bariol";
  color: white;
  position: absolute;
  right: 3%;
  top: 17px;
}

.user-pic-header {
  position: absolute;
  color: white;
  right: 13%;
  list-style: none;
  font-size: 1.5em;
  font-family: 'Bariol';
  /*background: #F0F3F8;*/
  border-radius: 3px;
  height: 23px;
  margin-top:-52px;
}


a span{
	display:block;
}

.arrow{
	margin-top:-65px;
	margin-left:5%;
}


.category ul ul li a, .category-home ul ul li a, .category-home-no-sign-in ul ul li a{
  display: block;
  padding:10px;
  padding-top:10px;
  color:white;
}


nav ul {
  list-style: none;
}

.profile-top{
  display: inline;
}


.user-propic {
  border-radius: 50%;
  background-color: rgb( 0, 0, 0 );
  position: absolute;
  width: 160px;
  height: 160px;
}


.user-propic-profile {
  display:inline-block;
  margin: 0 auto;
  width:100px;
  height:100px;
}

.merchant-propic-profile {
  width:140px;
  height:140px;
 
}

.list-inline li img{
  width:100px;
  height: 100px;
}


.circular{
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.info-not-sign-in{
  position: absolute;
  float: right;
  right: 3%;
  font-size: 1em;
  font-family: "Bariol";
  color:white;
  top:25px;
}

.info-not-sign-in li{
  display: inline-block;
}


.search-box-title{
  font-weight: bold;
  font-size: 25pt;
  text-align:center;
  width: 100%;
  font-family: "Novecento";
  /*margin-left: -75px;*/
}

.search-result{
  font-family:"Novecento";
  position: relative;
  top:30px;
  left: 45%;
  right:45%;
}

.list-results{
  text-align:left;
  margin-top: 80px;
  list-style: none;
}

.list-results li{
  padding-bottom: 35px;
}

.greeter-result{
  margin-top:20px;
}

.greeters-photo{
  margin-top: -55px;
}

.greeters-profile{
  margin-top: -120px;
margin-left: 112px;
  font-family: "Bariol";
  font-size: 1em;
}

.greeters-thumbed-story{
  
  margin-left: -80px;
  margin-top: -50px;
}

.thumbed-story-title{
  font-size: 1.5em;
  font-family:"Bariol";
  font-style: italic;
}

.search_results {
  margin-top: -170px;
  margin-left: 155px;
  padding: 50px 0;
}


.searched-merchant{
  position: relative;
  top:50px;
}

.searched-merchant-noresult{
  position: relative;
  top:50px;
  left:0px;
}

.search-write-story{
  position: relative;
  text-align: center;
  top:-40px;
  left:-290px;

  color: white;
}

.search-write-story span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  font-family: "Bariol";
  color: white;
  opacity:0.5
}

.search-write-story span:hover{
  opacity: 1;
}

.search-write-story-noresult{
}

.search-write-story-noresult span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  font-family: "Bariol";
  color: white;
  opacity:0.5;
}

.search-write-story-noresult span:hover{
  opacity: 1;
}




.search-box {
  position: absolute;
  border: 1px solid #000;
  margin-top: 1%;
  padding-left: 1%;
  left: 33%;
  width: 34%;
  height: 42px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1em;
  padding-top: 0.5em;
}

.search-submit {
  position: relative;
  display: block;
  position: absolute;
  margin-top: 10px;
  left: 53.3%;
  /*background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);*/
  /*border: 1px solid black;
  border-radius: 5px;
  */
  font-size: 1.250em;
  text-align: center;
  padding-top: 10px;
  width: 5.4%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


.search-submit span{
  background-color: rgb(255,234,71);
  padding: 10px;
  opacity:0.5;
}

.search-submit span:hover {
	opacity: 1;
}

.button-writing{
  font-family: 'trebuchet';
  font-size: 30pt;
}

.delete-button {
  padding: 0;
  margin: 0;
}

.delete-button{
  float:right;
}

.delete-button .delete:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}


.white{
	color:white;
}

.white:hover{
  color:white;
  opacity:0.75;
}



.category-separator {
  margin-top:5%;
  font-size: 23px;
  left:13.5%;
  font-family: "Novecento";
}

.category-separator-root {
  font-size: 23px;
  font-family: "Bariol";
}


.separator-pic {
  position: absolute;
  /*background: url("/assets/WGSlice/stripe_repeat.png");
  width:74.5%;*/
  left: 20%;
  top: 139%;
  height: 12px;
  border: none;
}


.prof-review {
  float: left;
  left:125px;
  width:82%;
  display: block;
  position: relative;

}

.prof-review-in-index {
  float: left;
  left:95px;
  right:175px;
  display: block;
  position: absolute;

}


.prof-review-feed-container {
  left: 125px;
  top:425px;
  right:125px;
  position: absolute;
  display:block;
}

.prof-review-feed{
  position:relative;
  top:150px;
}

.result-merchant-name{
  font-size: 1.5em;
  font-family:"Helvetica Thin"
}

.searched-merchant ul li{
  list-style: none;
}

.prof-review .review-body {
  display: inline-block;
  font-family: "Bariol";
  font-size: 1.250em;
  line-height: normal;
  word-break: normal;
  height:auto;
}

.review-body {
  font-family: "Bariol";
  font-size: 1.125em;
  line-height: normal;
  word-break: normal;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
}

.review-body-user-feed {
  margin-left:30px;
  font-family: "Bariol";
  font-size: 1.125em;
  line-height: normal;
  word-break: normal;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
}


.review-body-header{
  font-family:"Bariol";
  margin-left: 30px;
  margin-top: 35px;
}

.helpful-btn{
  display:inline;
  margin-top: -40px;
  margin-left: 27px;
  height: 25px;
  opacity: 0.5;
}

.helpful-btn-active{
  display:inline;
  margin-top: -40px;
  margin-left: 27px;
  height: 25px;
}


.helpful-btn:hover{
  opacity:1;
}




.prof-left-index {
  display: block;
  position: absolute;
  width: 40%;
  height: 500px;
  margin-left:2%;
  margin-top:1%;
}


.prof-left-index-text {
  display: block;
  position: absolute;
  width: 20%;
  margin-left:-15px;
  margin-top:100px;
}


.prof-left-index h3{
  margin-left: 20px;
  margin-top: 125px;
  width:400px;
}

.prof-left-index h4{
  margin-left: 20px;
  width:400px;
  font-family: "Bariol";
  font-size: 1em;
}



.prof-left-index-review {
  display: block;
  position: absolute;
  width: 20%;
  margin-left:-55px;
  margin-top:10px;
  padding: 0 0 0 35px;
}


.prof-right-index {
  position: absolute;
  margin-left:55%;
  margin-top:1%;
  width: 13%;
  float: right;
  height:400px;
  padding-bottom: 100px;
}

.prof-right-rating{
  margin-left: 40%;
  width: 100%;
}

.prof-right-index-title {
  position: absolute;
  margin-left:130%;
  margin-top:-160px;
  float: right;
  position:absolute; 
  width:280%; 
  font-style: italic; 
  font-family:'Bariol'; 
  font-size: 1.250em; 
  font-weight:bold; 
}

.form-signin {
max-width: 330px;
padding: 90px 15px;
margin: 0 auto;
font-family:"Bariol";
}

.prof-right-index-title-no-stories {
  position: absolute;
  margin-left:5%;
  margin-top:-5%;
  float: right;
  position:absolute; 
  width:130%; 
  font-style: italic; 
  font-family:'Bariol'; 
  font-size: 1.125em; 
  font-weight:bold; 
  padding-bottom: 400px;
}

.prof-right-time-created{
  position:absolute; 
  font-family:'Bariol'; 
  font-size: 0.75em; 
  font-weight:bold; 
  margin-left:120px; 
  margin-top:-100px;
}

.default-merchant-banner-category{
	width:52%;
	height:30%;
}


.default-merchant-picture-category{
	width:16%;
	height:16%;
}


.prof-right-name{
  position: absolute;
  margin-left: 240px;
  margin-top: -90px;
  font-family: "Bariol";
  font-weight: 100;
  font-size: 1.250em;
}

.review-body-index {
  margin-top:40px;
  float: left;
  margin-left: 5px;
  text-align: justify;
  width: 128.5%;
  font-family: "Bariol";
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 26px;
}


.review-body-index-right {
  margin-top:0px;
  float: left;
  margin-left: 175px;
  width: 474px;
  font-family: "Bariol";
  text-align: left;
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 26px;
}


.button-writing-index-bg{
  
 
  height: 20px;
  width: 43%;
  vertical-align: middle;

  text-align: center;
}

.button-writing-index-bg span{
	padding: 5px;
	background-color: rgb(255,234,71);
  opacity:0.5;
}

.button-writing-index-bg span:hover{
  opacity: 1;
}


.button-writing-index-bg a{
  font-family: 'Bariol';
  font-size: 16pt;
  color:black;
}


/*
Story Feed
*/
.merchant-right-pic{
  position: absolute;
}


.prof-right-review-pic{
  position: absolute;
  margin-top:-115px;
  margin-left: 155px;
}

.prologue-text {
  position: absolute;
  top: 50px;
  left: 33%;
}

.add-new-head-text {
  left: 36%;
  font-family: "Bariol";
  font-size: 32px;
  position: absolute;
}


.story-badge{
  display: inline;
  width: 40%;
  height: 30%;
  margin-top:5px;
}

.story-badge-feed{
  display: inline;
  width: 20px;
  height: 20px;
  margin-top:5px;
}

.greeter-badge-feed{
  display: inline;
  width: 20px;
  height: 20px;
  margin-top:0px;
}


.story-icon-index{
  position:absolute;
  margin-top:21%;
  margin-left: 25%;
}



.story-icon-index-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:22.5%;
  margin-left: 32%;
}


.story-thumb-index{
  position:absolute;
  margin-top:21%;
  margin-left: 55%;
}



.story-thumb-index-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:22.5%;
  margin-left: 62%;
}


.review-pic-index {
  margin-top:-5%;
  width:25%;
}




.prof-content {
  margin-top: auto;
  padding-top: 20px;
}

.prof-mid-feed {
  position: absolute;
  text-align: justify;
}

.prof-left-feed {
  display: inline-block;
}


.story-writer{
  margin-left:0;
  margin-top:120px;
  font-size: 1.720em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  -moz-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -webkit-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -ms-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
}

.public-feed-list{
  list-style:none;
}

.public-feed-list li{
  min-width:900px;
}

.story-writer-public{
  font-size: 22px;
  font-family: "Bariol";
  font-style:italic;
  font-weight: 100;
  color: rgb( 45, 45, 45 );
}

.story-thumb{
  position:absolute;
  margin-top:0px;
  margin-left: 55px;
}


.story-title{
  font-size: 1.720em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
}

.story-title-rating{
  margin-top: 106px;
  margin-left: 2px;
}


.badge-feed {
  background: #C4DBF0;
  border: 1px solid #ccc;
  font-size: 0.75em;
  font-weight: bold;
  color: #333;
  padding: 4px 7px;
  border-radius: 8px;
  margin: 2px;
}

.story-badge-public{
  display: inline;
  width: 20px;
  height: 20px;
}





/*
END OF Story Feed
*/


/*
Start of User Profile
*/

.store-category-text{
  font-size: 1.5em;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  right: 0px;
  top: 0px;
}

.store-category-text-index{
  position:absolute;
  left:600px;
  float: right;
  font-family: "Bariol";
}

.prof-content-public {
  margin-top: 500px;
  padding: 20px 25px;
}

.prof-mid-stories-public {
  position: absolute;
  margin-top: 1030px;
  /*border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;*/
}

.followed-merchants-list{
  float:left;
  list-style: none;
  display:inline-block;
}

.followed-merchants-list{
  margin-left:15px;
}



.story-badge-in-profile{
  margin-top:-5px;
  width:20px;
  height:20px;
}

.story-badge-in-profile-text{
  margin-left:2px;
  font-size: 1.125em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align: left;
}

.thumbs-badge-in-profile{
  margin-top: -5px;
  width:20px;
  height:20px;
}

.thumbs-badge-in-profile-text{
  margin-left:2px;
  font-size: 1.125em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align: left;
}


.following-text {
  font-size: 1.5em;
  font-family: "Helvetica Thin";
  color: rgb( 45, 45, 45 );
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}

.following-number {
  margin-left:0px;
  font-size: 1.750em;
  font-family: "Helvetica Thin";
  color: rgb( 45, 45, 45 );
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}

.followed-text {
  margin-left: 15px;
  font-size: 1.5em;
  font-family: "Helvetica Thin";
  color: rgb( 45, 45, 45 );
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}

.followed-number {
  margin-left:90px;
  font-size: 1.750em;
  font-family: "Helvetica Thin";
  color: rgb( 45, 45, 45 );
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}


.prof-content-profile-view {
	margin-top: -63%;
}

.user-photo{
  text-align: left;
  margin-left:15px;
}

.user-profile{
  text-align: left;
}

.user-profile-container{
  margin-left: -20px;
}

.user-username {
  font-size: 2em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align:left;
}

.member-since-text {
  font-size: 1em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align: left;
}

.followed-merchants-text {
  font-size: 1.75em;
  font-family: "Helvetica Thin";
  color: rgb( 45, 45, 45 );
}


.is-followed .follow-button{
  display: none;
}

.is-followed .unfollow-button{
  display: block;
}


.follow-button {
  display: block;
}

.unfollow-button {
  display: none;
}


.followed-button {
  display: none;
  padding: 5px;
  width: 150px;
  height: 150px;
  margin-top:160px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
  background: url("WGslice/follow-btn.png") no-repeat;
  
}


.following-button {

  display: block;
  padding: 5px;
  width: 180px;
  height: 180px;
  margin-top:160px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
  background: url("WGslice/follow-btn.png") no-repeat;
}



.edit-button {
  position: relative;
  display: block;
  padding: 5px;
  background: url("WGslice/edit-btn.png") no-repeat;
  width: 80px;
  margin-top:10px;
  margin-left:38px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
}


.stripes{
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  height: 12px;
  border: none;
}

.followed-merchants-separator {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  height: 12px;
  border: none;
}

.category-name-separator{
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  height: 12px;
  border: none;
  margin-top: 0px;
}


.after-merchants-list-separator{
  position: absolute;
  top:500px;
  left:120px;
  right:120px;

}


.stories-in-profile{
  font-size: 2.930em;
  font-weight: 100;
  font-family: "Helvetica Neue ";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 50px;
  top: 510px;
  width: 400px;

}


.stories-in-profile-separator {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 220px;
  right: 120px;
  top: 520px;
  height: 12px;
  border: none;
}

.prof-mid-stories-public {
  position: absolute;
  margin-top: 500px;
  width: 87%;
  margin-left: 25px;
  /*border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;*/
}


.store-category-text{
  float: right;
  font-family: "Bariol";
}

.store-category-text-index{
  position:absolute;
  left:600px;
  float: right;
  font-family: "Bariol";
}



.story-title-public{
  font-size: 1.720em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
}


.story-title-merchant{
  font-size: 1.720em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  position: absolute;
 margin-top: 61px;
margin-left: -383px;
  float: left;
  width:100%;
}

.badge-public-container{
  margin-top:5px;
}

.written-time-public{
  margin-top:0px;
  opacity:0.5;
}

.review-body-public {
  display: block;
  font-family: "Bariol";
  font-size: 1.125em;
  line-height: normal;
  word-break: normal;
  padding: 0 10px;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
  margin-top: 45px;
  margin-bottom: 15px;
}




/*
End
*/


/*
Write a new story
*/

.search-box-title-select{
  margin-top:25px;
  font-weight: bold;
  font-size: 25pt;
  text-align:center;
  width: 100%;
  font-family: "Novecento";
  /*margin-left: -75px;*/
}

.search-box-write {
  position: absolute;
  border: 1px solid #000;
  margin-top: 10px;
  left: 28%;
  right:28%;
  width: 42.5%;
  height: 44px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.250em;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

/*
END
*/


.group:after {
  display: block;
  clear: both;
  content: "";
}



/*
User Profile
*/

.favs{
  margin-top:75px;
}

.edit-story-button{
  margin-top:-15px;
  width: 70px;
  height: 25px;
  opacity:1;
}

.edit-story-button:hover{
  opacity:0.5;
}

.edit-profile-link{
  margin-top:-10px;
  margin-left: 15px;
}

.foll{
  margin-top:-10px;
  margin-left: 27px;
}


.edit-profile-link:hover{
  opacity:1;
}

/*
Merchant Page
*/

.prof-merchant-container {
  left: 125px;
  right:125px;
  position: absolute;
  display:block;
}

.root-content-container{
}


.merchant-photo-text-container
{
  width: 100%;
}


.prof-merchant-banner{
  left: 675px;
  width:38%;
  height:60%;
  top:100px;
  position: absolute;
}

.user-propic-merchant {
  text-align: justify;
  background-color: rgb( 0, 0, 0 );
  position: absolute;
  left:125px;
  top:100px;
  width: 160px;
  height: 160px;
}

.user-username-merchant-followers {
  font-size: 1.750em;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align:left;
  position: absolute;
  left: 130px;
  top: 300px;
}

.user-username-merchant {
  font-size: 1.750em;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align:left;
  position: absolute;
  left: 125px;
  top: 270px;
}

.after-profile-separator-merchant{
  position: absolute;
  left: 125px;
  right: 615px;
  top:323px;
}

.member-since-text-merchant {
  font-size: 1.750em;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 255px;
  top: 80px;
  
}

.merchant-write-story{
}

.merchant-write-story span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  opacity:1;
}

.merchant-write-story span:hover{
  opacity: 0.5;
}

.merchant-following-section{
  position: absolute;
  top:305px;
  left:580px;
}

.is-favorite .favorite-button {
  display: none;
}

.is-favorite .unfavorite-button {
  display: block;
}

.favorite-button {
  display: block;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
}

.unfavorite-button {
  display: none;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border-radius: 5px;
}

.merchant-banner{
  width:100%;
  height:65%;
}

.merchants-randompic-list {
  position: absolute;
  left: 100px;
  right:125px;
  top: 365px;
}

.merchants-randompic-list li{

  display: inline-block;
  list-style: none;
}

.merchants-randompic-separator{
  position: absolute;
  left:125px;
  right:125px;
  top:500px;
}


.merchants-offers-text {
  font-size: 2.930em;
  font-weight: 100;
  font-family: "Helvetica Neue ";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 60px;
  top: 510px;
  width: 400px;
}

.merchants-offers-stripe {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 225px;
  top: 520px;
  right: 125px;
  height: 12px;
  border: none;
}

.merchants-offers-1{
  position: absolute;
  float: right;
  top:570px;
  left:165px;
  right:52%;
}

.merchants-offers-1 p{
  text-align: justify;
}

.merchants-offers-1 img{
  width:100%;
}

.merchants-offers-2{
  position: absolute;
  float: left;
  top:570px;
  left:52%;
  right:165px;
}

.merchants-offers-2 p{
  text-align: justify;
}

.merchants-offers-2 img{
  width:100%;
}

.more-offers{
  text-align: center;
}

.more-offers span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  opacity:0.5;
}

.more-offers span:hover{
  opacity: 1;
}

.merchant-profile{
  font-size:22px;
  font-family:"Bariol";
}

.merchants-offers-separator {
  position: absolute;
  left:125px;
  right:125px;
  top:1040px;
}

.stories-in-merchant-profile{
  position: absolute;
  top:1050px;
  left: 105px;
  font-size: 2.930em;
  font-weight: 100;
  font-family: "Helvetica Neue ";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}


.stories-in-merchant-profile-stripes {
  background-image: url("/assets/WGSlice/stripe_repeat.png");
  position: absolute;
  left: 225px;
  top: 1060px;
  right: 125px;
  height: 12px;
  border: none;
}

.prof-review-merchant-container{
  left: 125px;
  top:965px;
  right:145px;
  position: absolute;
  display:block;
}

.prof-review-in-merchant{
  position:relative;
  top:150px;
}


.cool-button input[type="submit"] {
  display: block;
  position: relative;
  float: left;
  padding: 5px;
  width: 90px;
  color: #00f;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  opacity:0.5;
}

.cool-button:hover{
  opacity: 1;
}

.prof-left-in-merchant {
  display: block;
  position: absolute;
  margin-left:0px;
}

/**
*/
/*
Create story
*/
.create-story-container{
  padding-top: 90px;
}
.story-header{
  text-align:center;
  font-family: "Novecento";
}

.create-story-merchant-section{
  position: relative;
  top:140px;
}

.create-story-merchant-name{
  position: relative;
  top:-25px;
  left:5px;
  font-family: "Novecento";
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}


.create-story-merchant-follower{
  position: absolute;
  top:45px;
  left: 110px;
  font-family: "Novecento";
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: lighter;
}

.hr-create-story-merchant-section{
  position: absolute;
  left: 0px;
  right:0px;
  top:100px;
}

.create-story-form-area{
  width: 65%;
top: 123px;
position: absolute;
}

.your-experience-text{
  font-family: "Trebuchet MS";
  font-size: 1.563em;
}

.create-story-input{
  position: relative;
  top:10px;
}


.create-story-review-rating{
  font-family: "Novecento";
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}

.create-story-review-title{
  font-family: "Novecento";
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}

.create-title-input{
  border: 1px solid gray;
}

.create-story-about{
  padding-left:25px;
  border-left: 1px solid rgb(194,194,194);
  margin-top: -20px;
  padding-top: 15px;
}

.create-story-review-body{
  font-family: "Novecento";
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
  top:-25px;
  left:-55px;
}

.review-body-in-create{
  position:relative;
  left:0px;
}

.create-story-review-pic{
  font-family: "Novecento";
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
  top:-25px;
}

.submit-story{
  position: relative;
  top: -287px;
}

.submit-story span{
  background-color: rgb(255,234,71); 
  padding: 10px 5px 10px 55px;
  font-family: "Bariol";
  color: back;
  opacity:0.5;
}

.submit-story span:hover{
  opacity:1;
}

/*
End
*/


/*
sign in page
*/

/*
  SIGN-IN PAGE
*/

.sign-in-page-container{
  position:absolute;
  top:70px;
  left:95px;
}

.merchant-sign-up-container{
  position:absolute;
  top:70px;
}

.left {
  width: 45%;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.left .social {
  margin: 0;
  padding: 50px 0 0 70px;
}

.social h4{
  font-family: "Bariol";
}

.left #facebook {

}

.left #facebook img {
  display: block;
  margin: 0 auto;
}

.left #twitter {

}

.left #twitter img{
  display: block;
  margin: 0 auto;
}

.right {
  width: 49%;
  float: right;
  padding: 0 25px 0 0;
}

.social h1 {
  font-weight: bold;
  font-size: 3.750em;
  margin: 0 0 30px 0;
}

.social p {
  margin: 15px 0;
}


.category_box {
  list-style: none;
  float: left;
  margin: 5px;
}

span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
}

/**
Category
**/

.category-content-container {
  padding-left: 125px;
  padding-right:125px;
}

.category-left-container{
  position:relative;
  top:-200px;
  left:10px;
  right:500px;
}

.category-right-container{
  position: relative;
  left: 656px;
  right:125px;
  top: -720px;
  width:500px;
}


.category-mid-feed {
  position: absolute;
  text-align: justify;
}

.category-review {
  float: left;
  left:125px;
  display: block;
  position: relative;

}

.category-body-header{
  
}

.prof-left-category {
  display: block;
  width: 40%;
  height: 500px;
  margin-left:2%;
  margin-top:1%;
}



.category-body {
  display: block;
  margin-top:0%;
  margin-left:15px;
  font-family: "Bariol";
  font-size: 1.125em;
  line-height: normal;
  word-break: normal;
  padding: 0 10px;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
}

.review-body-category {
  position:absolute;
  margin-top:9%;
  right:0%;
  left:-27%;
  text-align: justify;
  font-family: "Bariol";
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 26px;
}

.category-left-banner{
  top:260px;
  left:10px;
  right:800px;
}

.category-right-banner{
  margin-top: 166px;
left: 800px;
right: 10px;
}

.category-story-title{
  position:absolute;
  float: right;
  font-size: 1.5em;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  top:77%;
  left: 11%;
  right:48%;
  
}

.category-story-writer{
  position:absolute;
  float:right;
  text-align:left;
  font-family:'Bariol'; 
  font-size: 1em; 
  font-weight:bold; 
  left:0%; 
  right:0%;
  top:95%;
  
}

.review-pic-category {
  margin-top:20px;
  width:10%;
}

.story-icon-category{
  position:absolute;
  margin-top:10%;
  margin-left: -6%;
}


.story-icon-category-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:11%;
  margin-left: 3%;
}


.story-thumb-category{
  position:absolute;
  margin-top:10%;
  margin-left: 12%;
}



.story-thumb-category-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:11%;
  margin-left: 22%;
}

.review-body-category-separator{
  position: absolute;
  left: 120px;
  right:120px;
  top: 290px;
}

a:hover{
  text-decoration:none;
}

footer p{
  float:right;
}