@import "bootstrap";


@font-face
{
  font-family: "Bariol";
  src: url("BARIOL_REGULAR.OTF");
}

@font-face
{
  font-family: "Novecento";
  src: url("NOVECENTOWIDE-MEDIUM.OTF");
}

@font-face
{
  font-family: "Helvetica Thin";
  src: url("HELVETICANEUELTSTD-TH.OTF");
}

html,body{
  min-width:960px;
}

html{
  overflow-x:hidden;
}

.container{
	padding-left:5%;
	padding-right:5%;
}

/*
Header with the big image
*/
.top-nav{
  position: relative;
  overflow: hidden;
  height: 750px;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/Banner_1440.jpg"); 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.search-bar{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

.search-bar-home-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 490px;
  font-family:"Bariol";
}

.search-bar-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 540px;
  font-family:"Bariol";
}

.search-bar-no-sign-in{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

.navbar-form .form-control{
  width:400px;
}

a .white ul:hover{
  opacity:0;
}

.search-bar-no-home{
  position:absolute; 
  z-index:9999; 
  top: 9px;
  left: 424px;
  font-family:"Bariol";
}

.community-home-no-sign-in{
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 220px;
  top: 22px;
}

.community-home-sign-in{
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 276px;
  top: 22px;
}




.top-nav-no-index{
  position: relative;
  overflow:hidden;
  height:750px;
}

.top-nav-electronics{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-category-tech.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.top-nav-fashion{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-category-fashion.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}


.top-nav-stories-feed{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  
  box-shadow: 1px 1px 3px gray;
  background-image: url("/assets/WGSlice/banner-feed.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}



/*
Main logo, but not in the nav header. "Online story, honestly shared"
*/
.WG-mainlogo {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 3%;
  top: 12%;
}

.version-logo{
  position: absolute;
  left: 8%;
  width: 40%;
  top: 10%;
}

/*
HEader: write a story, category, etc
*/
.top-nav-header
{
  background-color: rgb(35,31,32);
  opacity: 0.75;
  /*border-bottom: 1px solid black;*/
  height: 9%;
}

/*
random story showed in top-nav
*/
.random-story{
  position:absolute;
  color: white;
  font-family: "Bariol";
  margin-top:50px;
  left:40px;
  right:50px;
  z-index:9999;
}

.random-story img{
  float: left;
}

.random-story-text{
  position:absolute;
  width:100%;
  margin-top: 5px;
  margin-left: 100px;
  text-align:left;
}


.random-story-title{
  position:relative;
  font-family: "Bariol";
  font-size: 28px;
  color: white;
  margin-top: 15px;
  margin-left: 10px;
  font-style: italic;
  font-weight: bold;
}

.random-story-body{
  position:relative;
  font-family:"Bariol";
  margin-left: 10px;
  margin-top:50px;
  font-size: 18px;
}

.random-story-see-more{
  font-family: "Bariol";
  margin-left:2%;
  font-size: 18px;
}
/*
*/

.content-main-header-root{
  position: relative;
  top: -10px;
}

.logo {
  float: left;
  left:1.5%;
  margin-top: 4px;
  padding: 0 35px
}

.write_story-home {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 35px;
  top: 22px;
}


.write_story {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 130px;
  top: 22px;
}


.category {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 275px;
  top: 22px;
}

.community{
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 371px;
  top: 22px;
}

.category-dropdown{
  position:absolute;
  left:-15px;
  margin-top:45px;
}
.category-home {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 181px;
  top: 22px;
}

.category-home-no-sign-in {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 3%;
  top: 22px;
}



.find_friends {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 337px;
  top: 13px;
}


.find_friends-home {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 253px;
  top: 13px;
}


.find_friends-no-sign-in-home {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  left: 137px;
  top: 13px;
}


.info {
  list-style: none;
  font-size: 16px;
  font-family: "Bariol";
  color: white;
  position: absolute;
  right: 3%;
  top: 17px;
}

.user-pic-header {
  position: absolute;
  color: white;
  right: 13%;
  list-style: none;
  font-size: 24px;
  font-family: 'Bariol';
  /*background: #F0F3F8;*/
  border-radius: 3px;
  height: 23px;
  margin-top:-52px;
}


a span{
	display:block;
}

.arrow{
	margin-top:-65px;
	margin-left:5%;
}



li:hover{
  opacity: 0.75;
}

a:hover{
	opacity: 0.75;
}

.category ul ul li a, .category-home ul ul li a, .category-home-no-sign-in ul ul li a{
  display: block;
  padding:10px;
  padding-top:10px;
  color:white;
}


nav ul {
  list-style: none;
}


.user-propic {
  border-radius: 50%;
  background-color: rgb( 0, 0, 0 );
  position: absolute;
  width: 160px;
  height: 160px;
}


.user-propic-profile {
 position: absolute;
  left: 118px;
  top: 104px;
  width:160px;
  height:160px;
}

.merchant-propic-profile {
 position: absolute;
  left: 125px;
  top: 570px;
}


.circular{
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.info-not-sign-in{
  position: absolute;
  float: right;
  right: 3%;
  font-size: 16px;
  font-family: "Bariol";
  color:white;
  top:25px;
}

.info-not-sign-in li{
  display: inline-block;
}


.search-box-title{
  font-weight: bold;
  font-size: 25pt;
  text-align:center;
  width: 100%;
  font-family: "Novecento";
  /*margin-left: -75px;*/
}

.search-result{
  font-family:"Novecento";
  position: relative;
  top:-620px;
  left: 45%;
  right:45%;
}

.list-results{
  position:absolute;
  z-index:99999;
}

.search_results {
  margin-top: -170px;
  margin-left: 155px;
  padding: 50px 0;
}


.searched-merchant{
  position: relative;
  top:-600px;
}

.searched-merchant-noresult{
  position: relative;
  top:-600px;
  left:0px;
}

.search-write-story{
  position: relative;
  text-align: center;
  top:-40px;
  left:-290px;

  color: white;
}

.search-write-story span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  font-family: "Bariol";
  color: white;
}

.search-write-story span:hover{
  opacity: 0.5;
}

.search-write-story-noresult{
  position: relative;
  text-align: center;
  top:-15px;
  left:-90px;

  color: white;
}

.search-write-story-noresult span{
  background-color: rgb(255,234,71); 
  padding: 10px;
  font-family: "Bariol";
  color: white;
}

.search-write-story-noresult span:hover{
  opacity: 0.5;
}




.search-box {
  position: absolute;
  border: 1px solid #000;
  margin-top: 1%;
  padding-left: 1%;
  left: 33%;
  width: 34%;
  height: 42px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  padding-top: 0.5em;
}


.input > input:focus {
  outline: 2px solid #C4DBF0;
}


textarea:focus {
  outline: 2px solid #C4DBF0;
}

.search-submit {
  position: relative;
  display: block;
  position: absolute;
  margin-top: 10px;
  left: 53.3%;
  /*background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);*/
  /*border: 1px solid black;
  border-radius: 5px;
  */
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  width: 5.4%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


.search-submit span{
  background-color: rgb(255,234,71);
  padding: 10px;
}

.search-submit span:hover {
	opacity: 0.75;
}

.button-writing{
  font-family: 'trebuchet';
  font-size: 30pt;
}

.delete-button {
  padding: 0;
  margin: 0;
}

.delete-button .delete {
  background-color: rgb(255,234,71); 
  padding: 10px 5px 10px 55px;
  font-family: "Bariol";
  color: back;
  width: 190px;
  top: 250px;
  right: 125px;
  position: absolute;
}

.delete-button .delete:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}



input[type="text"],
input[type="username"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
}

.white{
	color:white;
}

.white:hover{
  color:white;
  opacity:0.75;
}



.category-separator {
  margin-top:5%;
  font-size: 23px;
  left:13.5%;
  font-family: "Novecento";
}

.category-separator-root {
  font-size: 23px;
  font-family: "Bariol";
}


.separator-pic {
  position: absolute;
  /*background: url("/assets/WGSlice/stripe_repeat.png");
  width:74.5%;*/
  left: 20%;
  top: 139%;
  height: 12px;
  border: none;
}


.prof-review {
  float: left;
  left:125px;
  width:82%;
  display: block;
  position: relative;

}

.prof-review-root {
  float: left;
top: 5%;
left: 0px;
width: 89%;
position: relative;

}


.prof-review-in-index {
  float: left;
  left:95px;
  right:175px;
  display: block;
  position: absolute;

}


.prof-review-feed-container {
  left: 125px;
  top:425px;
  right:125px;
  position: absolute;
  display:block;
}

.prof-review-feed{
  position:relative;
  top:150px;
}

.result-merchant-name{
  font-size:24px;
  font-family:"Helvetica Thin"
}

.searched-merchant ul li{
  list-style: none;
}

.prof-review .review-body {
  display: inline-block;
  font-family: "Bariol";
  font-size: 20px;
  line-height: normal;
  word-break: normal;
  height:auto;
}

.review-body {
  display: block;
  margin-top: 4%;
  margin-left:105px;
  font-family: "Bariol";
  font-size: 18px;
  line-height: normal;
  word-break: normal;
  padding: 0 10px;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
}

.review-body-header{
	margin-left:115px;
  margin-top:30px;
}



.prof-left-index {
  display: block;
  position: absolute;
  width: 40%;
  height: 500px;
  margin-left:2%;
  margin-top:1%;
}


.prof-left-index-text {
  display: block;
  position: absolute;
  width: 20%;
  margin-left:-15px;
  margin-top:100px;
}


.prof-left-index h3{
  margin-left: 20px;
  margin-top: 125px;
  width:400px;
}

.prof-left-index h4{
  margin-left: 20px;
  width:400px;
  font-family: "Bariol";
  font-size: 16px;
}



.prof-left-index-review {
  display: block;
  position: absolute;
  width: 20%;
  margin-left:-55px;
  margin-top:10px;
  padding: 0 0 0 35px;
}


.prof-right-index {
  position: absolute;
  margin-left:55%;
  margin-top:1%;
  width: 13%;
  float: right;
  height:400px;
  padding-bottom: 100px;
}

.prof-right-rating{
  margin-left: 40%;
  width: 100%;
}

.prof-right-index-title {
  position: absolute;
  margin-left:130%;
  margin-top:-160px;
  float: right;
  position:absolute; 
  width:280%; 
  font-style: italic; 
  font-family:'Bariol'; 
  font-size:20px; 
  font-weight:bold; 
}


.prof-right-index-title-no-stories {
  position: absolute;
  margin-left:5%;
  margin-top:-5%;
  float: right;
  position:absolute; 
  width:130%; 
  font-style: italic; 
  font-family:'Bariol'; 
  font-size:20px; 
  font-weight:bold; 
  padding-bottom: 400px;
}

.prof-right-time-created{
  position:absolute; 
  font-family:'Bariol'; 
  font-size:14px; 
  font-weight:bold; 
  margin-left:120px; 
  margin-top:-100px;
}

.default-merchant-banner-category{
	width:52%;
	height:30%;
}


.default-merchant-picture-category{
	width:16%;
	height:16%;
}


.prof-right-name{
  position: absolute;
  margin-left: 240px;
  margin-top: -90px;
  font-family: "Bariol";
  font-weight: 100;
  font-size: 20px;
}

.review-body-index {
  margin-top:40px;
  float: left;
  margin-left: 5px;
  text-align: justify;
  width: 128.5%;
  font-family: "Bariol";
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 26px;
}


.review-body-index-right {
  margin-top:0px;
  float: left;
  margin-left: 175px;
  width: 474px;
  font-family: "Bariol";
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 26px;
}


.button-writing-index-bg{
  
 
  height: 20px;
  width: 43%;
  vertical-align: middle;

  text-align: center;
}

.button-writing-index-bg span{
	padding: 5px;
	background-color: rgb(255,234,71);
}

.button-writing-index-bg span:hover{
  opacity: 0.75;
}


.button-writing-index-bg a{
  font-family: 'Bariol';
  font-size: 16pt;
  color:black;
}


/*
Story Feed
*/
.merchant-right-pic{
  position: absolute;
}


.prof-right-review-pic{
  position: absolute;
  margin-top:-115px;
  margin-left: 155px;
}

.prologue-text {
  position: absolute;
  top: 50px;
  left: 33%;
}

.add-new-head-text {
  left: 36%;
  font-family: "Bariol";
  font-size: 32px;
  position: absolute;
}


.story-badge{
  display: inline;
  width: 40%;
  height: 30%;
  margin-top:5px;
}

.story-badge-feed{
  display: inline;
  width: 20px;
  height: 20px;
  margin-top:5px;
}

.story-icon-index{
  position:absolute;
  margin-top:21%;
  margin-left: 25%;
}

.add-new-content {
  position: absolute;
  top: 106px;
  left: 125px;
  right: 125px;
}

.story-icon-index-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:22.5%;
  margin-left: 32%;
}


.story-thumb-index{
  position:absolute;
  margin-top:21%;
  margin-left: 55%;
}



.story-thumb-index-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:22.5%;
  margin-left: 62%;
}


.review-pic-index {
  margin-top:-5%;
  width:25%;
}




.prof-content {
  margin-top: auto;
  padding-top: 20px;
}

.prof-mid-feed {
  position: absolute;
  text-align: justify;
}

.prof-left-feed {
  display: block;
  position: absolute;
  margin-left:0px;
}

.story-writer{
  margin-left:0;
  margin-top:120px;
  font-size: 27.521px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  -moz-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -webkit-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -ms-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
}

.public-feed-list{
  list-style:none;
}

.public-feed-list li{
  min-width:900px;
}

.story-writer-public{
  font-size: 22px;
  font-family: "Bariol";
  font-style:italic;
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  position: absolute;
  text-align:left;
  left: 105px;
  top: 0px;
}

.story-writer-public-rating{
  position: absolute;
  left:110px;
  top: 25px;
}


.story-thumb{
  position:absolute;
  margin-top:0px;
  margin-left: 55px;
}


.story-title{
  font-size: 27.521px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  position: absolute;
  margin-top: 7px;
  float: left;
}

.story-title-rating{
  position: absolute;
margin-top: 36px;
margin-left: 2px;
}


.badge-feed {
  position: relative;
  top:-18px;
  background: #C4DBF0;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 2px 7px;
  border-radius: 8px;
  margin: 2px;
}

.story-thumb-public{
  position:absolute;
  top:68px;
  left: 115px;
}

.story-badge-public{
  display: inline;
  width: 30px;
  height: 30px;
}





/*
END OF Story Feed
*/


/*
Start of User Profile
*/

.store-category-text{
  font-size: 24px;
  font-family: "Helvetica Neue LT Std";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  right: 0px;
  top: 0px;
}

.store-category-text-index{
  position:absolute;
  left:600px;
  float: right;
  font-family: "Bariol";
}

.prof-content-public {
  margin-top: 500px;
  padding: 20px 25px;
}

.prof-mid-stories-public {
  position: absolute;
  margin-top: 1030px;
  /*border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;*/
}

.followed-merchants-list {
  position: absolute;
  width: 65%;
  left: 100px;
  top: 365px;
}

.after-profile-separator{
  position: absolute;
  left: 120px;
  right:120px;
  top: 290px;
}


.followed-merchants-list li{

  display: inline-block;
  list-style: none;
}


.story-badge-in-profile{
   position: absolute;
  left: 288px;
  top: 184px;
  width:20px;
  height:20px;
}

.story-badge-in-profile-text{
   position: absolute;
  left: 320px;
  top: 183px;
  width:100px;
  font-size: 18.017px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -webkit-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -ms-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
}

.thumbs-badge-in-profile{
  position: absolute;
  left: 405px;
  top: 184px;
  width:20px;
  height:20px;
}

.thumbs-badge-in-profile-text{
   position: absolute;
  left: 436px;
  top:183px;
  width:100px;
  font-size: 18.017px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -webkit-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
  -ms-transform: matrix( 1.08994707054668,0,0,1.09005840660324,0,0);
}


.following-text {
  font-size: 36px;
  font-family: "Helvetica Neue LT Std";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 272px;
  top: 240px;
}

.following-number {
  font-size: 48.006px;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  font-weight: bold;
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 327px;
  top: 205px;
}

.followed-text {
  font-size: 36px;
  font-weight: 100;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 378px;
  top: 240px;
}

.followed-number {
  font-size: 48.006px;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  font-weight: bold;
  text-align: center;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 437px;
  top: 205px;
}


.prof-content-profile-view {
	margin-top: -63%;
}


.user-username {
  font-size: 36px;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align:left;
  position: absolute;
  left: 290px;
  top: 100px;
}

.member-since-text {
  font-size: 28px;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 235px;
  top: 140px;
  
}

.followed-merchants-text {
  font-size: 46.875px;
  font-weight: 100;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 50px;
  top: 295px;
  width: 400px;
}


.is-followed .follow-button{
  display: none;
}

.is-followed .unfollow-button{
  display: block;
}

.follow-button {
  font-size: 43px;
  font-family: "Bariol";
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 160px;
  top: 270px;
  width:80px;
  height:30px;
  display: block;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  z-index:999999;
}

.unfollow-button {
  font-size: 53px;
  font-family: "Bariol";
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 160px;
  top: 270px;
  width:80px;
  height:30px;
  display: none;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  z-index:999999;
}


.followed-button {
  display: none;
  padding: 5px;
  width: 150px;
  height: 150px;
  margin-top:160px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background: url("WGslice/follow-btn.png") no-repeat;
  
}


.following-button {

  display: block;
  padding: 5px;
  width: 180px;
  height: 180px;
  margin-top:160px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background: url("WGslice/follow-btn.png") no-repeat;
}



.edit-button {
  position: relative;
  display: block;
  padding: 5px;
  background: url("WGslice/edit-btn.png") no-repeat;
  width: 80px;
  margin-top:10px;
  margin-left:38px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}




.followed-merchants-separator {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 390px;
  right:120px;
  top: 305px;
  height: 12px;
  border: none;
}

.category-name-separator{
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 590px;
  right:125px;
  top: -20px;
  height: 12px;
  border: none;
}


.after-merchants-list-separator{
  position: absolute;
  top:500px;
  left:120px;
  right:120px;

}


.stories-in-profile{
    font-size: 46.875px;
  font-weight: 100;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 50px;
  top: 510px;
  width: 400px;

}


.stories-in-profile-separator {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 220px;
  right: 120px;
  top: 520px;
  height: 12px;
  border: none;
}

.prof-mid-stories-public {
  position: absolute;
  margin-top: 500px;
  width: 87%;
  margin-left: 25px;
  /*border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;*/
}


.store-category-text{
  float: right;
  font-family: "Bariol";
}

.store-category-text-index{
  position:absolute;
  left:600px;
  float: right;
  font-family: "Bariol";
}



.story-title-public{
  font-size: 27.521px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  position: absolute;
 margin-top: 61px;
margin-left: -383px;
  float: left;
  width:100%;
}


.story-title-merchant{
  font-size: 27.521px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  position: absolute;
 margin-top: 61px;
margin-left: -383px;
  float: left;
  width:100%;
}



.written-time-public{
  margin-top:0px;
}

.review-body-public {
  display: block;
  font-family: "Bariol";
  font-size: 18px;
  line-height: normal;
  word-break: normal;
  padding: 0 10px;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
  margin-top: 45px;
  margin-bottom: 15px;
}




/*
End
*/


/*
Write a new story
*/

.search-box-title-select{
  margin-top:-650px;
  font-weight: bold;
  font-size: 25pt;
  text-align:center;
  width: 100%;
  font-family: "Novecento";
  /*margin-left: -75px;*/
}

.search-box-write {
  position: absolute;
  border: 1px solid #000;
  margin-top: 10px;
  left: 28%;
  right:28%;
  width: 42.5%;
  height: 44px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

/*
END
*/


.group:after {
  display: block;
  clear: both;
  content: "";
}




.grad_button {
    background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
}

.grad_button:hover {
    background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

/*
User Profile
*/

.edit-profile-link{
  position:absolute;
  z-index:9999;
  top: 271px;
left: 162px;


}

/*
Merchant Page
*/

.prof-merchant-container {
  left: 125px;
  right:125px;
  position: absolute;
  display:block;
}

.root-content-container{
  position:absolute;
  top:780px;
}


.merchant-photo-text-container
{
  width: 100%;
}


.prof-merchant-banner{
  left: 675px;
  width:38%;
  height:60%;
  top:100px;
  position: absolute;
}

.user-propic-merchant {
  text-align: justify;
  background-color: rgb( 0, 0, 0 );
  position: absolute;
  left:125px;
  top:100px;
  width: 160px;
  height: 160px;
}

.user-username-merchant-followers {
  font-size: 28px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align:left;
  position: absolute;
  left: 130px;
  top: 300px;
}

.user-username-merchant {
  font-size: 28px;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align:left;
  position: absolute;
  left: 125px;
  top: 270px;
}

.after-profile-separator-merchant{
  position: absolute;
  left: 125px;
  right: 615px;
  top:323px;
}

.member-since-text-merchant {
  font-size: 28px;
  font-family: "Bariol";
  font-weight: 100;
  color: rgb( 45, 45, 45 );
  text-align: left;
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 255px;
  top: 80px;
  
}

.merchant-write-story{
  position: relative;
  top:25px;
  right:0px;
}

.merchant-write-story span{
  background-color: rgb(255,234,71); 
  padding: 10px;
}

.merchant-write-story span:hover{
  opacity: 0.5;
}

.merchant-following-section{
  position: absolute;
  top:305px;
  left:580px;
}

.is-favorite .favorite-button {
  display: none;
}

.is-favorite .unfavorite-button {
  display: block;
}

.favorite-button {
  display: block;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}

.unfavorite-button {
  display: none;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}

.merchants-randompic-list {
  position: absolute;
  left: 100px;
  right:125px;
  top: 365px;
}

.merchants-randompic-list li{

  display: inline-block;
  list-style: none;
}

.merchants-randompic-separator{
  position: absolute;
  left:125px;
  right:125px;
  top:500px;
}


.merchants-offers-text {
  font-size: 46.875px;
  font-weight: 100;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
  position: absolute;
  left: 60px;
  top: 510px;
  width: 400px;
}

.merchants-offers-stripe {
  background-image: url("/assets/WGSlice/stripe_repeat.png") ;
  position: absolute;
  left: 225px;
  top: 520px;
  right: 125px;
  height: 12px;
  border: none;
}

.merchants-offers-1{
  position: absolute;
  float: right;
  top:570px;
  left:165px;
  right:52%;
}

.merchants-offers-1 p{
  text-align: justify;
}

.merchants-offers-1 img{
  width:100%;
}

.merchants-offers-2{
  position: absolute;
  float: left;
  top:570px;
  left:52%;
  right:165px;
}

.merchants-offers-2 p{
  text-align: justify;
}

.merchants-offers-2 img{
  width:100%;
}

.more-offers{
  position: absolute;
  text-align: center;
  top:1010px;
  left:46%;
}

.more-offers span{
  background-color: rgb(255,234,71); 
  padding: 10px;
}

.more-offers span:hover{
  opacity: 0.5;
}

.merchants-offers-separator {
  position: absolute;
  left:125px;
  right:125px;
  top:1040px;
}

.stories-in-merchant-profile{
  position: absolute;
  top:1050px;
  left: 105px;
  font-size: 46.875px;
  font-weight: 100;
  font-family: "Helvetica Neue LT Std";
  color: rgb( 45, 45, 45 );
  -moz-transform: matrix( 0.64,0,0,0.64,0,0);
  -webkit-transform: matrix( 0.64,0,0,0.64,0,0);
  -ms-transform: matrix( 0.64,0,0,0.64,0,0);
}


.stories-in-merchant-profile-stripes {
  background-image: url("/assets/WGSlice/stripe_repeat.png");
  position: absolute;
  left: 225px;
  top: 1060px;
  right: 125px;
  height: 12px;
  border: none;
}

.prof-review-merchant-container{
  left: 125px;
  top:965px;
  right:145px;
  position: absolute;
  display:block;
}

.prof-review-in-merchant{
  position:relative;
  top:150px;
}


.cool-button input[type="submit"] {
  display: block;
  position: relative;
  float: left;
  padding: 5px;
  width: 90px;
  color: #00f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.cool-button:hover{
  opacity: 0.5;
}

.prof-left-in-merchant {
  display: block;
  position: absolute;
  margin-left:0px;
}

/**
*/
/*
Create story
*/
.create-story-container{
  position:absolute;
  top:50px;
  left:125px;
  right:125px;
}
.create-story-header{
  top:50px;
  position:absolute;
  font-weight: bold;
  font-size: 25pt;
  text-align:center;
  width: 100%;
  font-family: "Novecento";
}

.create-story-merchant-section{
  position: relative;
  top:140px;
}

.create-story-merchant-name{
  position: relative;
  top:-25px;
  left:5px;
  font-family: "Novecento";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}


.create-story-merchant-follower{
  position: absolute;
  top:45px;
  left: 110px;
  font-family: "Novecento";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
}

.hr-create-story-merchant-section{
  position: absolute;
  left: 0px;
  right:0px;
  top:100px;
}

.create-story-form-area{
  width: 65%;
top: 123px;
position: absolute;
}

.your-experience-text{
  font-family: "Trebuchet MS";
  font-size: 25px;
}

.create-story-input{
  position: relative;
  top:10px;
}

.input select{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.input > textarea {
  margin-top: -15px;
  position: relative;
  border: 1px solid #000;
  padding: 5px 10px;
  width: 400px;
  height: 250px;
  border-radius: 0px;
}



.create-story-review-rating{
  font-family: "Novecento";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}

.create-story-review-title{
  font-family: "Novecento";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
}

.create-title-input{
  border: 1px solid gray;
}

.create-story-about{
  position: absolute;
  left:630px;
  top:120px;
  width:33%;
  padding-left:25px;
  border-left: 1px solid rgb(194,194,194);
}

.create-story-review-body{
  font-family: "Novecento";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
  top:-25px;
  left:-55px;
}

.review-body-in-create{
  position:relative;
  left:0px;
}

.create-story-review-pic{
  font-family: "Novecento";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  opacity: 0.35;
  top:-25px;
}

.submit-story{
  position: relative;
  top: -287px;
}

.submit-story span{
  background-color: rgb(255,234,71); 
  padding: 10px 5px 10px 55px;
  font-family: "Bariol";
  color: back;
}

.submit-story span:hover{
  opacity:0.5;
}

/*
End
*/


/*
sign in page
*/

/*
  SIGN-IN PAGE
*/

.sign-in-page-container{
  position:absolute;
  top:70px;
  left:95px;
}

.merchant-sign-up-container{
  position:absolute;
  top:70px;
}

.left {
  width: 45%;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.left .social {
  margin: 0;
  padding: 50px 0 0 70px;
}

.social h4{
  font-family: "Bariol";
}

.left #facebook {

}

.left #facebook img {
  display: block;
  margin: 0 auto;
}

.left #twitter {

}

.left #twitter img{
  display: block;
  margin: 0 auto;
}

.right {
  width: 49%;
  float: right;
  padding: 0 25px 0 0;
}

.social h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.social p {
  margin: 15px 0;
}

/*
Form styl
*/


.form {
  margin: 0 auto;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}

.form > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.input {
  position: relative;
  margin: 50px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input {
  border: 1px solid #000;
  padding: 5px 10px;
  width: 300px;
  border-radius: 0px;
}

.input > input[type="radio"] {
  width: auto;
  outline: 0;
}

.input select{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.input > textarea {
  margin-top: -15px;
  position: relative;
  border: 1px solid #000;
  padding: 5px 10px;
  width: 400px;
  height: 250px;
  border-radius: 0px;
}


.input > input[type="file"] {
  border: none;
}

.category_box {
  list-style: none;
  float: left;
  margin: 5px;
}

.input > input:focus {
  outline: 2px solid #C4DBF0;
}

textarea:focus {
  outline: 2px solid #C4DBF0;
}

.submit {

}

span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
}

.submit > input {
  position: relative;
  float: right;
  width: 300px;
  background-color: rgb(255,234,71);
  color: #fff;
  padding: 10px 15px;
  margin-right: 0px;
  border-radius: 5px;
  cursor: pointer;
  color:black; 
  font-family:'Bariol';
  font-size: 20px;
}

.submit > input:hover {
  background-color: rgb(255,234,71);
  opacity: 0.75;
}

/**
Category
**/

.category-content-container {
  padding-left: 125px;
  padding-right:125px;
}

.category-left-container{
  position:relative;
  top:-200px;
  left:10px;
  right:500px;
}

.category-right-container{
  position: relative;
  left: 656px;
  right:125px;
  top: -720px;
  width:500px;
}


.category-mid-feed {
  position: absolute;
  text-align: justify;
}

.category-review {
  float: left;
  left:125px;
  display: block;
  position: relative;

}

.category-body-header{
  
}

.prof-left-category {
  display: block;
  width: 40%;
  height: 500px;
  margin-left:2%;
  margin-top:1%;
}



.category-body {
  display: block;
  margin-top:0%;
  margin-left:15px;
  font-family: "Bariol";
  font-size: 18px;
  line-height: normal;
  word-break: normal;
  padding: 0 10px;
  height: auto;
  vertical-align: bottom;
  text-align: justify;
}

.review-body-category {
  position:absolute;
  margin-top:9%;
  right:0%;
  left:-27%;
  text-align: justify;
  font-family: "Bariol";
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 26px;
}

.category-left-banner{
  top:260px;
  left:10px;
  right:800px;
}

.category-right-banner{
  margin-top: 166px;
left: 800px;
right: 10px;
}

.category-story-title{
  position:absolute;
  float: right;
  font-size: 24px;
  font-family: "Bariol";
  color: rgb( 45, 45, 45 );
  font-style: italic;
  top:77%;
  left: 11%;
  right:48%;
  
}

.category-story-writer{
  position:absolute;
  float:right;
  text-align:left;
  font-family:'Bariol'; 
  font-size:16px; 
  font-weight:bold; 
  left:0%; 
  right:0%;
  top:95%;
  
}

.review-pic-category {
  margin-top:20px;
  width:10%;
}

.story-icon-category{
  position:absolute;
  margin-top:10%;
  margin-left: -6%;
}


.story-icon-category-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:11%;
  margin-left: 3%;
}


.story-thumb-category{
  position:absolute;
  margin-top:10%;
  margin-left: 12%;
}



.story-thumb-category-text{
  position:absolute;
  font-family: "Bariol";
  font-weight:100;
  margin-top:11%;
  margin-left: 22%;
}

.review-body-category-separator{
  position: absolute;
  left: 120px;
  right:120px;
  top: 290px;
}

a:hover{
  text-decoration:none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


