<footer class="footer">
  <small>
    COPYRIGHT 2014 - WARMGREET
  </small>
  <nav>
    <ul>
      <li>
        <a href="https://www.facebook.com/WarmGreet">
          <%= image_tag "WGSlice/fb.png", size:"50x60"%>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/WarmGreet">
          <%= image_tag "WGSlice/tw.png", size:"50x60"%>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/company/warmgreet">
          <%= image_tag "WGSlice/in.png", size:"50x60"%>
        </a>
      </li>
    </ul>
  </nav>
</footer>