<footer class="footer">
  <div class="row">
    <div class="col-md-3 left-footer">
      <small>
        © 2014 - WARMGREET
      </small>
      <br><br>
      <%= image_tag "WGSlice/RS_PoweredBy_OCC_logo-blk.png", size:"180x60", class:"img-responsive" %>
    </div>

   
     

    <div class="col-md-3 right-footer">
      <nav>
        <ul>
          <li>
            <a href="https://www.facebook.com/WarmGreet">
              <%= image_tag "WGSlice/fb.png", size:"50x55"%>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/WarmGreet">
              <%= image_tag "WGSlice/tw.png", size:"50x55"%>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/company/warmgreet">
              <%= image_tag "WGSlice/in.png", size:"50x55"%>
            </a>
          </li>
        </ul>
      </nav>
      <br><br><br><br>

          
      <span style="margin-top: -20px; margin-right:20px;">contact: hi@warmgreet.com</span>
          
    </div>
    
  </div>
</footer>